gym==0.10.11
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
matplotlib==3.1.0
notebook==6.4.10
numpy==1.15.4
pandas==0.25.2
protobuf==3.15.0
requests==2.21.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
tensorboard==1.12.0
tensorflow==2.9.3
urllib3==1.24.2
